<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div style="width: 100%">Name</div>
      <editable-label style="width: 100%" [value]='client.name' [editable]='editable'></editable-label>
    </div>
    <div class="col-xs-6">
      <div style="width: 100%">CommercialName</div>
      <editable-label style="width: 100%" [value]='client.commercialName' [editable]='editable'></editable-label>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-6">
      <div style="width: 100%">Tax Number</div>
      <editable-label style="width: 100%" [value]='client.taxNumber' [editable]='editable'></editable-label>
    </div>
    <div class="col-xs-6">
      <div style="width: 100%">VAT Number</div>
      <editable-label style="width: 100%" [value]='client.vatNumber' [editable]='editable'></editable-label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div style="width: 100%">Contacts</div>
      <editable-label style="width: 100%" [value]='client.contacts' [editable]='editable'></editable-label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div style="width: 100%">Phone</div>
      <editable-label style="width: 100%" [value]='client.phone' [editable]='editable'></editable-label>
    </div>
    <div class="col-xs-3">
      <div style="width: 100%">City</div>
      <editable-label style="width: 100%" [value]='client.city' [editable]='editable'></editable-label>
    </div>
    <div class="col-xs-3">
      <div style="width: 100%">PostCode</div>
      <editable-label style="width: 100%" [value]='client.postCode' [editable]='editable'></editable-label>
    </div>
    <div class="col-xs-3">
      <div style="width: 100%">Region</div>
      <editable-label style="width: 100%" [value]='client.region' [editable]='editable'></editable-label>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">Address</div>
      <editable-label class="col-xs-12" [value]='client.address' [editable]='editable' ></editable-label>
  </div>
</div>