
<div class="container">
  <!-- SIGNATURE  -->
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <table style="width:100%">
        <tr>
          <td rowspan="3">Оригiнал</td>
          <td>Видається покупцю</td>
        </tr>
        <tr>
          <td>Включено в ЄРПН</td>
        </tr>
        <tr>
          <td>Залишається у продавця</td>
        </tr>
        <tr>
          <td colspan="2">Копія</td>
        </tr>
      </table>
    </div>
    <div class="col-md-push-4 col-lg-push-4 col-md-4 col-lg-4">
      <table>
        <tr>
          <td rowspan="4">Затверджено Наказ Державної податкової адміністрації України 21.12.2010 No 969</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- HEADER  -->
  <div class="row">
    <h1 class="col-md-push-3 col-lg-5">ПОДАТКОВА НАКЛАДНА</h1>
  </div>
  <div class="row">
    <p class="col-md-3">Дата виписки податкової накладноi: </p>
    <table class="col-md-2">
      <tr>
        <td>0</td>
        <td>3</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
      </tr>
    </table>
    <p class="col-md-offset-1 col-md-2">Порядковий номер:</p>
    <table class="col-md-2">
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>9</td>
      </tr>
    </table>
    <table class="col-md-offset-1 col-md-1">
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>9</td>
      </tr>
    </table>
  </div>

  <!-- SELLER COLUMN  -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Продавець</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <small class="col-md-2 text-left">Особа платник податку</small>
          <table class="col-md-3">
            <tr rowspan="4">
              <td>
                <h4>
                  Товариство з обмеженою вiдповiдальнiстю "Шанс"
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <small class="col-md-offset-2 col-md-3">(найменування; прізвище, ім'я, по батькові - для фізичної особи - підприємця)</small>
        </div>
      </div>
      <br>
      <div class="row">
        <table class="col-md-11">
          <tr class="text-center">
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>9</td>
          </tr>
        </table>
      </div>
      <div class="row text-center">
        <small>(індивідуальний податковий номер продавця)</small>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table style="width:100%">
            <tr>
              <td rowspan="2">Місце знаходження (податкова адреса) продавця</td>
            </tr>
            <tr>
              <td colspan="10">01103, м. Київ, Залізничне шосе, 25</td>
            </tr>
            <tr>
              <td>Номер телефону</td>
              <td>0</td>
              <td>4</td>
              <td>4</td>
              <td>5</td>
              <td>2</td>
              <td>1</td>
              <td>6</td>
              <td>6</td>
              <td>0</td>
              <td>7</td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p>Номер свідоцтва про реєстрацію платника податку на додану</p>
        </div>
        <div class="col-md-6">
          <table style="width:100%" class="text-center">
            <tr>
              <td>3</td>
              <td>7</td>
              <td>7</td>
              <td>0</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
              <td>3</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--END SELLER COLUMN  -->
    <!--BUYER COLUMN  -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Продавець</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <small class="col-md-2 text-left">Особа платник податку</small>
          <table class="col-md-3">
            <tr rowspan="4">
              <td>
                <h4>
                  Товариство з обмеженою вiдповiдальнiстю "Шанс"
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <small class="col-md-offset-2 col-md-3">(найменування; прізвище, ім'я, по батькові - для фізичної особи - підприємця)</small>
        </div>
      </div>
      <br>
      <div class="row">
        <table class="col-md-11">
          <tr class="text-center">
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>9</td>
          </tr>
        </table>
      </div>
      <div class="row text-center">
        <small>(індивідуальний податковий номер продавця)</small>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table style="width:100%">
            <tr>
              <td rowspan="2">Місце знаходження (податкова адреса) продавця</td>
            </tr>
            <tr>
              <td colspan="10">01103, м. Київ, Залізничне шосе, 25</td>
            </tr>
            <tr>
              <td>Номер телефону</td>
              <td>0</td>
              <td>4</td>
              <td>4</td>
              <td>5</td>
              <td>2</td>
              <td>1</td>
              <td>6</td>
              <td>6</td>
              <td>0</td>
              <td>7</td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p>Номер свідоцтва про реєстрацію платника податку на додану</p>
        </div>
        <div class="col-md-6">
          <table style="width:100%" class="text-center">
            <tr>
              <td>3</td>
              <td>7</td>
              <td>7</td>
              <td>0</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
              <td>3</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--END BUYER COLUMN  -->
  </div>
  <!--END OF BUYER SELLER SECTION  -->
  <br>
  <!--AGREEMENT TYPE  -->
  <div class="container">
    <div class="row">
      <small class="col-md-2">Вид цивільно-правового договору</small>
      <strong class="col-md-5"><u>Договір купівлі-продажу(РФ)</u></strong>
      <small class="col-md-1">вiд</small>
      <table class="col-md-2">
        <tr>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>8</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>7</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <small class="col-md-2">Форма проведених розрахунк</small>
      <strong class="col-md-5"><u>Оплата з поточного рахунку</u></strong>
    </div>
  </div>
  <div class="row text-center">
    <small class="">(бартер, готівка, оплата з поточного рахунку, чек тощо)</small>
  </div>
  <!--END AGREEMENT TYPE  -->

  <!-- FUCKING HUGE TABLE THAT I HATE  -->
  <table>
    <!--heading row  -->
    <tr>
      <th>Роздiл</th>
      <th>Дата відвантаженн я (виконання), постачання (оплати*) товарів/послуг</th>
      <th>Номенклатура постачання товарів/послуг продавця</th>
      <th>Одиниця вимiру товару</th>
      <th>Кількість (об'єм, обсяг)</th>
      <th>Ціна постачання одиниці товару послуги без урахування ПДВ</th>
      <th>
        <tr>
          <th colspan="4">Обсяги постачання (база оподатку- вання) без урахування ПДВ, що підлягають оподаткуванню за ставками</th>
        </tr>
        <tr>
          <th>20%</th>
          <th>0% (постачання на на митній території України</th>
          <th>0% (експорт)</th>
          <th>звільнення вiд ПДВ**</th>
        </tr>
      </th>
      <th>Загальна сума коштiв, що підлягає сплаті</th>
    </tr>
    <!--end heading row  -->
    <tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
      <td>
        <tr style="width:100%">
        <td>7</td><td>8</td><td>9</td><td>10</td>
        </tr>
        
      </td>
      <td>11</td>
    </tr>
  </table>
  <!-- END FUCKING HUGE TABLE THAT I HATE  -->

</div>