<div class="container">
  <div class="row">
      <div class="col-xs-12">Driver:</div>
      <editable-label class="col-xs-12" [value]='driver.driver' [editable]=true ></editable-label>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div style="width: 100%">Plates</div>
      <editable-label style="width: 100%" [value]='driver.plates' [editable]=true></editable-label>
    </div>
    <div class="col-xs-6">
      <div style="width: 100%">Car</div>
      <editable-label style="width: 100%" [value]='driver.car' [editable]=true></editable-label>
    </div>
  </div>
</div>