<div class="container">
  <div class="row">
      <div class="col-xs-12">Driver:</div>
      <editable-label class="col-xs-12" [value]='driver.driver' [editable]='editable' ></editable-label>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div>Plates</div>
      <editable-label  [value]='driver.plates' [editable]='editable'></editable-label>
    </div>
    <div class="col-xs-6">
      <div>Car</div>
      <editable-label  [value]='driver.car' [editable]='editable'></editable-label>
    </div>
  </div>
</div>