<div class="container">
  <div class="row">
      <div class="col-xs-12">Name:</div>
      <editable-label class="col-xs-12" [value]='product.name' [editable]='editable' ></editable-label>
  </div>
  <div class="row">
      <div class="col-xs-12">Description:</div>
      <editable-label class="col-xs-12" [value]='product.description' [editable]='editable' ></editable-label>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div>Code</div>
      <editable-label  [value]='product.code' [editable]='editable' ></editable-label>
    </div>
    <div class="col-xs-4">
      <div>Certificate</div>
      <editable-label  [value]='product.certificate' [editable]='editable' ></editable-label>
    </div>
    <div class="col-xs-4">
      <div>Scale</div>
      <editable-label  [value]='product.scale' [editable]='editable' ></editable-label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div>Amount:</div>
      <editable-label  [value]='product.amount' [editable]='editable' type="number"></editable-label>
    </div>
  </div>
</div>